//Variables
$color-primary: #147A7A;
$color-secondary: #24CCCC;
$color-bg:#f2f2f2;

@mixin flex-values {
    display: flex;
    justify-content: center;
    align-items: center;
}



body{
    background-color: $color-bg;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.serch-body{
    @include flex-values();
}
.serch-input{
    width: 60%;
    height: 2em;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 3em;
    border: 10px solid $color-secondary;
    padding-left: 20px;
}


.btn-main{
    @include flex-values();
    padding: 1em;
}


.btn{
    border-radius: 25px;
    background-color: $color-secondary;
    padding: 8px;
    font-size: 0.9rem;
    margin: 1rem;

}

.btn:hover{
    background-color: #04ebb9;
}

//FONDO DEL MODAL
.modal-bg-add-prop{
    @include flex-values();
    background-color: #032b3ba1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;


}

//FONDO DEL MODAL DESHABILITADO
.modal-bg-add-prop-none{
    display: none;
}


.modal-body-add-prop{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.modal-container-add-prop{
    width: 330px;
    height: 355px;
    background-color: $color-primary;
    color: #e7e7dd;
    border-radius: 25px;
    @include flex-values();
    flex-direction: column;
    
    input, select{
        width: 275px;
        border-radius: 15px;
    }
    label{
        margin-top: 5px;
    }
    .modal-close{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 30px;
        margin-right: 30px;
    }
    .modal-header-add-prop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        //border: 1px solid yellow;
        width: 100%;
        height: 40px;
        
        h2{
            color: #e7e7dd;
        
        }    
}}

#main-cards{
    display: flex;
   flex-wrap: wrap; 
   justify-content: space-between;  
   width: 90%; 
   flex-direction: row;
   border: 1px solid red;
}
    .jobs-card{
        width: 315px;
        height: 200px;
        background-color: $color-primary;
        color: #e7e7dd;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        margin: 15px;
        .sub-card{
            display: flex;
            justify-content: space-between;
        }
        .card-btns{
            display: flex;
            justify-content: flex-end;
            button {
                background: none;
                border: 0;
                color: inherit;
                line-height: normal;
                overflow: visible;
                margin: 3px;
                font-size: 1.2rem;
            }
            button:hover{
                color: $color-secondary;
            }
    
            
        }
    }

